<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> </title>
    <link rel="stylesheet" href="/lab-express-basic-site/public/css/styles.css">
  </head>
  <body>
    <h1>  </h1>
    <h2> Iggy Pop </h2>
    <p> Iggy is known for his rebellious streak, his sense of humor, and his outspokenness. He has spoken openly about his struggles with drug addiction and his desire to live life on his own terms. </p>
    <p> [Information about their education and professional experience] </p>
    <p> [Descriptions of their key accomplishments and contributions] </p>
    <p> [Insights into their personality, interests, and values] </p>
    <script src="lab-express-basic-site/app.js"></script>
  </body>
</html>
