<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> cherries instead of olives </title>
    <link rel="stylesheet" href="/lab-express-basic-site/public/css/styles.css">
    
    <style>
      body {
        height: 100vh;
        background: #9fa77a; 
        background: linear-gradient(to right, #9b0707cc, #9fa77a), url("/lab-express-basic-site/public/img/pngegg.png");
        background-size: cover;
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
      }
    </style>

  </head>
  <body>

    <div class="overlay"></div> 

    <h1> "cherries instead of olives" </h1>
    <a href="/lab-express-basic-site/views/about.html" class="jacket-btn"></a>
    <a href="/lab-express-basic-site/views/about2.html" class="line-btn"></a>
  



    <div class="fixed">
      May Day, May Day! I am stuck here!! Help!!! Can't move! Achtung!!
    </div>

    <div class="relative box">
      !!
    </div>



    <script src=lab-express-basic-site/app.js"></script>
    <h3> </h3>
    

    
  </body>
</html>
